<style>
  .desktop-menu{
  	display:none!important;
  }  
  .main-header{
  	display:none!important;
  }  
</style>
<script src="https://app.tireconnect.ca/js/widget.js"></script>
<div id="tireconnect" style="width: 100%;"></div>
<script>
TCWidget.init({
   apikey: 'fc638829d9e8dc8325eaf1119172b252',
   container: 'tireconnect'
});
</script>