{% assign iframe_src = "https://wheel-builder.forgiato.com/" %}
{% assign iframe_width = "100%" %}
{% assign iframe_height = "720" %}

<div class="wheel-builder-wrapper">
  <h5 class="wheel-builder-title" style="text-align: center;">Try Build Your Own</h5>
  <div class="wheel-builder-iframe-container">
    <iframe 
      src="{{ iframe_src }}" 
      width="{{ iframe_width }}" 
      height="{{ iframe_height }}" 
      frameborder="0"
      allowfullscreen
      loading="lazy"
      title="Forgiato Wheel Builder">
    </iframe>
  </div>
</div>
