<section class="privacy-policy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ page.content }}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Privacy Policy",
    "tag": "section",
    "class": "privacy-policy-section",
    "settings": [],
    "presets": [
      {
        "name": "Privacy Policy"
      }
    ]
  }
{% endschema %}