<section class="review-section pt-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-12" id="shopify-product-reviews" data-id="{{product.id}}">
                {{ product.metafields.spr.reviews }}
            </div>
        </div>
    </div>
</section>