<section class="product-info pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="product-info py-3">
          <h4 class="text-uppercase">Description</h4>
          <p class="mb-0"><div data-station-tabs-app data-station-tabs-product="{{ product.handle }}">{{ product.description }}</div></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "product Description",
"settings": [

]
}
{% endschema %}