
     {% include 'rapid-search-foc-wrapper-condition' %}
  
{% if  focIsEnabled == true %}
  {% section 'rapid-search-collection-template' %}
{% endif %}
  
{% comment %}{% section 'banner-collection' %}{% endcomment %}
{% comment %}{% section 'collection-shop-section-wheels' %}{% endcomment %}
{% comment %}{% section 'blog-slider-section' %}{% endcomment %}
   
{% if  focIsEnabled == true %}
  <!-- rps-generated-div --></div>
{% endif %}
   
{% render 'rapid-search-results-template-v2' %}
{% render 'rapid-search-results-template' %}



  
  
  
  
  
  
  
  
  
  
  
{% section 'banner-collection' %}
{% section 'collection-shop-section' %}
{% section 'blog-slider-section' %}
{% section 'conection-section' %}

   
  
   
  

  


