<link rel="stylesheet" href="{{ 'end-of-the year.css' | asset_url }}">

{% comment %}
<div class="container">
  <div class="row ">
    <div class="col-xl-8 col-lg-10 col-md-11  col-12 py-5 m-auto">
      <div class="title content-title mb-4 pt-3">
        <h1 class="text-center title">{{ page.title }}</h1>
      </div>
      <div class="contect">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<style>
  .desktop-menu{
  	display:none!important;
  }  
  .main-header{
  	display:none!important;
  }  
  .footer{
    display:none!important;
  }
</style>
        {% section 'end-of-the-year-deal-section' %}
